<div class="container">
  <div class="col-12 pt-5 mt-5 text-center">
    <h1 class="fs-3 fw-bold">Entre na sua conta</h1>
    <span>Ou </span>
    <a class="text-decoration-none" href="./sign-up.html"
      >crie uma nova conta</a
    >
  </div>
  <div class="container rounded-3 col-lg-4 mt-5 bg-black">
    <div class="container pb-3">
      <h3 class="pt-3 text-white">Login</h3>
    </div>
    <div class="container pb-2">
      <form>
        <div class="mb-3">
          <label class="form-label text-white" for="name"
            >Nome de usuário</label
          >
          <input
            class="form-control bg-black text-white"
            type="text"
            placeholder="Digite seu nome de usuário"
          />
        </div>
        <div class="mb-3">
          <label class="form-label text-white" for="name">Senha</label>
          <input
            class="form-control bg-black text-white"
            type="password"
            placeholder="Digite sua senha"
          />
        </div>
      </form>
      <div class="d-grid gap-2 col-auto mx-auto">
        <button class="btn btn-light" type="button">Entrar</button>
      </div>
      <div class="container pt-4">
        <p>
          Usuários de teste:
          <br />
          Username: mor_2314, Password: 83r5^_
          <br />
          Username: kevinryan, Password: kev02937
        </p>
      </div>
    </div>
  </div>
</div>
