@if (loading){
<div class="loading">Carregando produtos...</div>
} @if (!loading){
<div class="row row-cols row-cols-lg-3 g-3" style="width: 65rem;">
  @for (product of products; track product.id) {
  <div class="col">
    <div class="card" style="width: 20rem">
      <div class="card-body row m-1">
        <div class="image-container">
          <img [src]="product.image" [alt]="product.title" />
        </div>
        <p class="badge text-bg-light rounded-5 ms-2 m-3" style="width: auto">
          {{ product.category }}
        </p>
        <h5 class="card-title">
          {{ product.title | slice : 0 : 20
          }}{{ product.title.length > 20 ? "..." : "" }}
        </h5>
        <p class="card-text">
          {{ product.description | slice : 0 : 80
          }}{{ product.description.length > 80 ? "..." : "" }}
        </p>
        <p class="fs-3 text-success font-bold mb-3">R$ {{ product.price }}</p>
        <a [routerLink]="['/product', product.id]" class="btn btn-dark">Ver Detalhes</a>
      </div>
    </div>
  </div>
  } @empty { <span>Não há produtos para exibir</span> }
</div>
}
