<div class="card" style="width: 20rem">
  <div class="container pt-5 mb-2" style="width: 15rem">
    <img
      class="img-fluid border-0"
      src="https://dw0jruhdg6fis.cloudfront.net/producao/24866653/G/camisa_branca.jpg"
      alt="bag"
    />
  </div>
  <div class="card-body row m-1">
    <span class="badge text-bg-light rounded-5 ms-2" style="width: auto;"> men's clothing </span>
    <h5 class="card-title pt-2">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the cards content.
    </p>
    <span class="fs-3 text-success font-bold mb-3">$109.92</span>
    <a routerLink="/product" class="btn btn-dark">Ver Detalhes</a>
  </div>
</div>
