<div class="border rounded-3">
  <div class="d-flex flex-row justify-content-between">
    <div class="ms-5 m-4">
      <h1 class="fs-3">Informações do Perfil</h1>
    </div>
  </div>
  <div class="mx-5">
    <form action="profile">
      <div class="d-flex">
        <div class="col-12 col-lg-6 mb-3">
          <label for="name">Nome</label>
          <input class="form-control" type="text" />
        </div>
        <div class="col-12 col-lg-6 ms-3 mb-3">
          <label for="surname">Sobrenome</label>
          <input class="form-control" type="text" />
        </div>
      </div>
      <div class="col-12 mb-3">
        <label for="email">Email</label>
        <input class="form-control" type="text" />
      </div>
      <div class="col-12 mb-3">
        <label for="username">Nome de usuário</label>
        <input class="form-control" type="text" />
      </div>
      <div class="my-4">
        <button class="btn btn-dark px-3 fw-medium">Salvar Alterações</button>
      </div>
    </form>
  </div>
</div>

<div class="mt-4 border rounded-3">
  <div class="ms-5 m-4">
    <h1 class="fs-3 text-danger">Zona de Perigo</h1>
  </div>
  <p class="text-secondary fw-medium ms-5">
    Deletar sua conta é uma ação permanente e não pode ser desfeita.
  </p>
  <div class="ms-5 my-4">
    <button class="btn btn-danger px-3 fw-medium">Deletar Conta</button>
  </div>
</div>
