.navbar-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1050;
}

.fixed-black-bar {
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: black;
  z-index: 998;
}
