<div class="container pt-5">
  <button routerLink="/home" class="btn btn-light border-1 ms-3">
    <i class="bi bi-arrow-left-short"></i> Voltar aos produtos
  </button>
  <div class="d-flex">
    <div class="col-12 col-lg-6 pt-4">
      <div class="card mb-5">
        <div class="container pt-5 mb-5" style="height: 35rem; width: 25rem">
          <img
            class="img-fluid"
            src="https://dw0jruhdg6fis.cloudfront.net/producao/24866653/G/camisa_branca.jpg"
            alt="bag"
          />
        </div>
      </div>
    </div>
    <div class="container m-4">
      <span class="badge text-bg-light rounded-5"> men's clothing </span>
      <h1 class="fw-bold fs-2 pt-2">
        Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops
      </h1>
      <span class="fw-bold fs-1 text-success font-bold mb-2">$109.92</span>
      <h2 class="fs-5 pt-4">Descrição</h2>
      <p class="card-text pt-2">
        Your perfect pack for everyday use and walks in the forest. Stash your
        laptop (up to 15 inches) in the padded sleeve, your everyday.
      </p>
      <label for="" class="input-group">Quantidade:</label>
      <select class="form-select" style="width: 5rem">
        <option value="">-</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>

      <div class="d-flex pt-4 gap-3">
        <div class="d-grid" style="height: 3rem; width: 35rem">
          <button class="btn btn-dark">
            <i class="bi bi-cart2 me-3"></i>Adiconar ao carrinho
          </button>
        </div>
        <div class="d-grid" style="height: 3rem; width: 15rem">
          <button class="btn btn-light">
            <i class="bi bi-heart me-3"></i>Favoritar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
