<h1>Todos os Produtos</h1>
<div style="grid-template-columns: 1fr 1fr;" class="d-flex gap-4">
  <div class="p-2">
    <app-card-product></app-card-product>
  </div>
  <div class="p-2">
    <app-card-product></app-card-product>
  </div>
  <div class="p-2">
    <app-card-product></app-card-product>
  </div>
</div>
<div style="grid-template-columns: 1fr 1fr;" class="d-flex gap-4">
  <div class="p-2">
    <app-card-product></app-card-product>
  </div>
  <div class="p-2">
    <app-card-product></app-card-product>
  </div>
  <div class="p-2">
    <app-card-product></app-card-product>
  </div>
</div>
