<div class="card" style="width: 20rem">
  <div class="container pt-5 mb-2" style="width: 15rem">
    <img
      class="img-fluid border-0"
      src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg"
      alt="bag"
    />
  </div>
  <div class="card-body row m-1">
    <span class="fs-6 bg-secondary-subtle rounded-5" style="width: auto"
      >men's clothing</span>
    <h5 class="card-title pt-2">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the cards content.
    </p>
    <span class="fs-3 text-success font-bold mb-3">$109.92</span>
    <a routerLink="/product" class="btn btn-dark">Ver Detalhes</a>
  </div>
</div>
