<div class="container">
  <div class="col-12 pt-5 mt-5 text-center">
    <h1 class="fs-3 fw-bold">Entre na sua conta</h1>
    <span>Ou </span>
    <a class="text-decoration-none" href="#" (click)="changeForm.emit(); $event.preventDefault();"
    >crie uma nova conta</a
    >
  </div>
  <div class="container rounded-3 col-lg-4 mt-5 bg-light border">
    <div class="container pb-3">
      <h3 class="pt-3">Login</h3>
    </div>
    <div class="container pb-2">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
        <div class="mb-3">
          <label class="form-label" for="name"
          >Nome de usuário</label
          >
          <input
          class="form-control bg-light"
          id="username"
          type="text"
          formControlName="username"
          placeholder="Digite seu nome de usuário"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="name">Senha</label>
          <input
          class="form-control bg-light"
          type="password"
          id="password"
          formControlName="password"
          placeholder="Digite sua senha"
          />
        </div>
        <div class="d-grid gap-2 col-auto mx-auto">
          <button [disabled]="loginForm.invalid" class="btn btn-dark" type="submit">Entrar</button>
        </div>
      </form>
      <div class="container pt-4 text-secondary">
        <p>
          Usuários de teste:
          <br />
          Username: mor_2314, Password: 83r5^_
          <br />
          Username: kevinryan, Password: kev02937
        </p>
      </div>
    </div>
  </div>
</div>
