<div class="container-flex">
  <div class="container-flex mb-5 pt-5 bg-gradient-purple-blue">
    <h1 class="text-center fw-bold text-white-900 pt-3">Fake Store</h1>
    <h2 class="fs-4 text-center text-white-900 pt-3 pb-4">Descubra produtos incríveis com os melhores preços</h2>
    <div class="d-flex justify-content-center gap-3 pb-5 py-3">
      <button class="btn btn-light px-4">Ver produtos</button>
      <button routerLink="/login" class="btn btn-light px-4">Entrar</button>
    </div>
  </div>
</div>
